h1{
    color:#00FFFF;
    font-size: xx-large;
}

body{
    font-size: large;
    color: #000000;

    min-height:100vh;
    background: #0c192c


}
.base{
    position: relative;
    width: 100%
    height: 100vh;
    overflow: hidden;
}
.fireworks{
    position: relative;
    display: flex;
}
.fireworks span{
    position: relative;
    width: 30px;
    height 30px;
    background: #00FFFF;
    margin: 0 4px;
}